html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height: 200%;
}


.Background {
    position: fixed;
}

.Title {
    z-index: 100;
    position: absolute;
    width: 50%;
    height: 30%;
    margin-left: 24.3%;
    margin-top: 3%;
    object-fit: fill;
}


.Highscores5Mins {
    margin-left: 28.3%;
    z-index: 2;
    position: absolute;
    width: 43.4%;
    height: 450px;
    background-image: url("assets/placeholdersquare.jpg");
    background-position: center;
    margin-top: 40%;
    text-align: center;
    text-shadow: 0 0 3px peachpuff;
    /*box-shadow: 0px 0px 10px black inset;*/
}

.Highscore5Mins {
    color: peachpuff;
    font-family: "Copperplate Gothic Light";
    text-align: center;
}


#Tabletextcolor {
    color: peachpuff;
    text-align: center;
    margin: 0 auto;
}
.Tablesize {
    scale: 112%;
    margin-top: -2%;
}
#Tableunderline {
    color: peachpuff;
    font-family: "Copperplate Gothic Light";
}


.Highscores10Mins {
    margin-left: 28.3%;
    z-index: 2;
    position: absolute;
    width: 43.4%;
    height: 450px;
    background-image: url("assets/placeholdersquare.jpg");
    background-position: center;
    margin-top: 85%;
    text-align: center;
    text-shadow: 0 0 3px peachpuff;
    /*box-shadow: 0px 0px 10px black inset;*/
}

.Highscore10Mins {
    color: peachpuff;
    font-family: "Copperplate Gothic Light";
    text-align: center;
}

.Highscores15Mins {
    margin-left: 28.3%;
    z-index: 2;
    position: absolute;
    width: 43.4%;
    height: 450px;
    background-image: url("assets/placeholdersquare.jpg");
    background-position: center;
    margin-top: 130%;
    text-align: center;
    text-shadow: 0 0 3px peachpuff;
    /*box-shadow: 0px 0px 10px black inset;*/
}

.Highscore15Mins {
    color: peachpuff;
    font-family: "Copperplate Gothic Light";
    text-align: center;
}


.Singleplayer {
    position: absolute;
    margin-top: 170%;
    margin-left: 25%;
    width: 20%;
    height: 20%;
}

.Multiplayer {
    position: absolute;
    margin-top: 170%;
    margin-left: 55%;
    width: 20%;
    height: 20%;
}

.Double-Ball {
    position: absolute;
    margin-top: 190%;
    margin-left: 25%;
    width: 20%;
    height: 20%;
}

.Obstacles {
    position: absolute;
    margin-top: 190%;
    margin-left: 55%;
    width: 20%;
    height: 20%;
}

.Two-vs-Two {
    position: absolute;
    margin-top: 210%;
    margin-left: 25%;
    width: 20%;
    height: 20%;
}

.Free-For-All {
    position: absolute;
    margin-top: 210%;
    margin-left: 55%;
    width: 20%;
    height: 20%;
}


.SidebarLeft {
    overflow: hidden;
    position:fixed;left:0;top:-100%;
}

.SidebarLeftMoving {
    width: 10%;
    height: 100%;
    position:fixed;left:0;top:-100%;

    animation-name: vertical-move-down;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.SidebarLeft2 {
    overflow: hidden;
        position:fixed;left:0;top:0;
}

.SidebarLeftMoving2 {
    width: 10%;
    height: 100%;
    position:fixed;left:0;top:0;

    animation-name: vertical-move-down;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.SidebarRight {
    overflow: hidden;
    position:fixed;left:90%;top:100%;
}

.SidebarRightMoving {
    width: 10%;
    height: 100%;
    position:fixed;left:90%;top:100%;

    animation-name: vertical-move-up;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.SidebarRight2 {
    overflow: hidden;
    position:fixed;left:90%;top:0;
}

.SidebarRightMoving2 {
    width: 10%;
    height: 100%;
    position:fixed;left:90%;top:0;

    animation-name: vertical-move-up;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes vertical-move-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes vertical-move-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}